* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #333;
}

body {
  font-family: "Raleway", sans-serif;
}

h3,
h4 {
  font-weight: 500;
  color: #333;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";

.App {
  transition: all 0.5s ease;

  &.library-active {
    margin-left: 30%;
  }
}
